.CommentContainer {
    border-style: dashed;
    border-color: blue;
    border-width: 1px;
    border-radius: 30px;
    background-color: burlywood;
    margin: 5px;
    padding: 10px;
}

.CommentContainer button {
    background-color: brown;
    border: none;
    color: white;
    padding: 5px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 3px;
}